<!DOCTYPE html>
<html>
    <head>
        <title>Emergency Server API</title>
    </head>
    <body>
        <h1 align="center">Emergency Server API</h1>
        <div class="container" style="width: 80%; margin: 0 auto;">
            <h3>GET /api/all</h3>
            <p>Return a JSON array with Country objects.</p>
            <p><b>Country</b></p>
            <table border="1">
                <tr>
                    <td><b>Field</b></td>
                    <td><b>Type</b></td>
                    <td><b>Description</b></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>The name of the country</td>
                </tr>
                <tr>
                    <td>code</td>
                    <td>string</td>
                    <td>The code of the country</td>
                </tr>
                <tr>
                    <td>police</td>
                    <td>string</td>
                    <td>The police number of the country</td>
                </tr>
                <tr>
                    <td>medical</td>
                    <td>string</td>
                    <td>The medical number of the country</td>
                </tr>
                <tr>
                    <td>fire</td>
                    <td>string</td>
                    <td>The fire fighters number of the country</td>
                </tr>
            </table>
            <h3>GET /api/:country</h3>
            <p>Return a JSON object with a Country object if found else it will return this JSON: {"error":"No country found with the given 2-letter country code hj"}</p>
            <h3>GET /api/:latitude/:longitude</h3>
            <p>Return a JSON object with a Country object if found else it will return this JSON: {"error":"Sorry cannot get your location. Retry!"}</p>
        </div>
    </body>
</html>
